CONFIG_SPL=y
CONFIG_ARM=y
CONFIG_SYS_CLK_FREQ=1200000000
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN8I_V3S=y
CONFIG_DRAM_CLK=360
CONFIG_DEFAULT_DEVICE_TREE="sun8i-v3s-licheepi-zero"
CONFIG_SPL_STACK_R_ADDR=0x43e00000
CONFIG_PRE_CON_BUF_ADDR=0x43020000

## USB
CONFIG_USB0_ID_DET="PF6"
CONFIG_PHY_SUN4I_USB=y
#CONFIG_USB_EHCI_HCD=y
#CONFIG_USB_OHCI_HCD=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_USB_MUSB_HOST=y

## Network
CONFIG_CMD_MDIO=y
CONFIG_PHYLIB=y
CONFIG_PHY_ADDR_ENABLE=y
CONFIG_DM_ETH=y
CONFIG_DM_MDIO=y
CONFIG_DM_MDIO_MUX=y
CONFIG_NETDEVICES=y
CONFIG_MII=y
CONFIG_SUN8I_EMAC=y

## SPI
CONFIG_SPI=y
CONFIG_SPI_SUNXI=y
CONFIG_DM=y
CONFIG_DM_SPI=y
CONFIG_DM_MTD=y
CONFIG_MTD=y
CONFIG_MTD_SPI_NAND=y
CONFIG_CMD_DM=y
CONFIG_CMD_SPI=y
CONFIG_CMD_MTD=y

## UBI
CONFIG_MTD_UBI=y
CONFIG_CMD_UBI=y
CONFIG_CMD_UBIFS=y
CONFIG_RBTREE=y
CONFIG_MTD_DEVICE=y
CONFIG_MTD_PARTITIONS=y
CONFIG_CMD_MTDPARTS=y
CONFIG_LZO=y
CONFIG_LZMA=y

## ENV
CONFIG_PREBOOT="fatload mmc 0:1 0x43000000 uEnv.txt && env import -t ${fileaddr} ${filesize}"

## DEBUG
# CONFIG_LOGLEVEL=7
# CONFIG_SHOW_ERRORS=y
# CONFIG_SPL_LOGLEVEL=7
# CONFIG_SPL_SHOW_ERRORS=y
# CONFIG_SPL_USE_TINY_PRINTF=n
# CONFIG_HEXDUMP=y
# CONFIG_SPL_HEXDUMP=y
